@using InnoTechApp.Core
@model Course

<tr>
    <td>@Model.Name</td>
    <td>@Model.Price$</td>
    <td>@Model.Description</td>
    <td>@Model.Enrollments.Count</td>
    <td>
        <a asp-page="./Details" asp-route-courseId="@Model.CourseId">
            <i class="fas fa-info-circle"></i>
        </a>
    </td>
    <td>
        <a asp-page="./Edit" asp-route-courseId="@Model.CourseId">
            <i class="fas fa-edit"></i>
        </a>
    </td>
    <td>
        <a data-toggle="modal" data-target="#myModal-@Model.CourseId" style="cursor: pointer">
            <i class="fas fa-trash-alt" style="color: #F00"></i>
        </a>
    </td>
</tr>
<!-- Modal -->
<div class="modal fade" id="myModal-@Model.CourseId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure that you want delete <span class="text-bold">@Model.Name</span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-page="./Delete" asp-route-courseId="@Model.CourseId" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>